h1 {
    text-align: center;
    color: #3D8361;
    font-size: 60px;
}

.navbar {
    color: #FF87B2;
    font-size: 20px;
}

h2 {
    color: #D2001A;
}

.carsp {
    text-align: center;
}

.carsp {
    color: #256D85;
    font-size: 20px;
}

ol {
    font-size: 25px;
}